/* MEUS PEDIDOS INICIO  */
.meusPedidos,
.filtro,
.pedidosMobile {
    border: solid 2px rgba(0, 0, 0, 0.39);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.301);
    height: 7.406vw;
    flex-direction: column;
    margin-top: 5%;
}

.detalhePedido,
.pedidosMobile {
    border: solid 2px rgba(0, 0, 0, 0.034);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.301);
    margin-top: 2%;
    text-align: center;
    font-size: 16px;
    height: 100px;
    padding: 10px;
}

.Concluido {
    color: rgb(14, 189, 37);
}

.pedido {
    color: #F06543;
    font-weight: bold;
}

.btn-prinCipal {
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    transition: 0.1s;
}

@media (max-width:700px) {
    .detalhePedido {
        display: none;
    }
}



.inicioFooter {
    margin-top: 2%;
}

@media (max-width:650px) {
    .titulo {
        font-size: 25px;
    }
}

@media (max-width:450px) {
    .titulo {
        font-size: 20px;
    }
}

@media (max-width:650px) {
    .detalhePedido,
    .pedidosMobile {
        font-size: 16px;
    }
}

@media (max-width:370px) {
    .detalhePedido,
    .pedidosMobile {
        font-size: 12px;
    }
}

@media (max-width:450px) {
    .meusPedidos {
        height: 50px;
    }
}
/* MEUS PEDIDOS FIM  */